

@import url('https://fonts.googleapis.com/css?family=Libre+Baskerville:400,700');

/* Color palette */
:root {
  --color-1: #F1E7E7; /* grey */ 
  --color-2: #E69DB8; /* pink */
  --color-3: #FFD0C7; /* light pink */
  --color-4: #FFFECE; /* light yellow */
  --color-words-1: #210F37; /* dark purple */
  --color-5: rgb(241, 231, 231);
  --color-6: rgb(230, 157, 184);
  --color-7: rgb(255, 208, 199);
  --color-8: rgb(255, 254, 206);
}
/* Reset CSS */
html {
  font-family: "Libre Baskerville", serif;
  font-size: 62.5%;
  /* 1rem = 10px , ajustado con el font-size 
  */
  background-color: var(--color-1);
}

/* Heder */
header {
  background-color: var(--color-2);
  color: var(--color-words-1);
  padding: 10px 0;
  text-align: center;
}


header h1 {
  font-size: 2rem;
}

.navbar-principal {
  /* se pone el display flex para que se acomoden los elementos */
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  background-color: var(--color-3);
  align-items: center; /* se pone el align-items center para que se acomoden los elementos, verticalmente */
  align-content: center; /* se pone el align-content center para que se acomoden los elementos, verticalmente */
}

.logo {
  width: 50px; /* Ajusta el tamaño del logo */
  height: auto;
  margin: 0; /* Elimina márgenes adicionales */
  display: inline-block; /* Cambia a block para mejor alineación */
  border-radius: 50%;
  border: 
    var(--color-1) 
    solid 1px;
}

.item-navbar {
  margin: 2px; /* Ajusta el margen entre los elementos */
  padding: 10px; /* Ajusta el padding entre los elementos */
  width: 10%; /* Ajusta el ancho de los elementos */
  display: inline-block; /* Cambia a flex para mejor alineación */
  align-items: center; /* Centra verticalmente */
  justify-content: center; /* Centra horizontalmente */
  border-radius: 12%;
  border: 
    var(--color-2) 
    solid 1px;
  background-color: 
    var(--color-1);
  /* Cambia el formato letras y color */
  font-size: 1rem;
  font-weight: bold;
  color: var(--color-words-1);
  text-align: center; /* Centra el texto */
}

/* links no heredan, entoces cuando se pone en el header, se pone en el a */
header a {
  text-decoration: none;
  color: var(--color-words-1);
  padding: 10px;
  display: inline-block;
}

/* Main  index.html */
main {
  margin: 0 auto;
  max-width: 80rem;
  padding: 0 1rem;
  /* acá se pone el padding para que no quede pegado al borde */
  background-image:   
  linear-gradient(
    var(--color-5) ,
    var(--color-6))
  url('../img/bg.jpg');
  /* se pone la imagen de fondo */
  /* https://developer.mozilla.org/en-US/docs/Web/CSS/background-image */	
  /* PARA configurar y probar la imagen y distintas configuraciones */

  background-size: cover;
  /* se ajusta la imagen al tamaño del contenedor */
  background-size: contain
  /* se ajusta la imagen al tamaño de la imagen */
}
footer {
  background-color: var(--color-4);
  color: var(--color-words-1);
  padding: 10px 0;
  text-align: center;
}

.container {
  border: 2px solid var(--color-words-1);
  position: relative;
  width: 100%;
  height: 20%;
}
.welcome {
  display: inline-block;
  width: 40%;
  height: 50%;
  background-color: var(--color-3);
  padding: 20px;
  margin: 10px;
  border: 2px #210F37 solid ;
  border-radius: 10px;
  text-align: center;
  position: absolute;
  top: 10%;
  left: 40%;
}
.services {
  display:  inline-block;
  width: 30%;
  height: 50%;
  background-color: var(--color-3);
  padding: 20px;
  border: 2px #210F37 solid ;
  margin: 10px;
  border-radius: 10px;
  text-align: center;
  position: static;
  /* top: 10px;
  left: 20px; */
}