

@import url('https://fonts.googleapis.com/css?family=Libre+Baskerville:400,700');

/* Color palette */
:root {
  --color-1: #F1E7E7; /* grey */ 
  --color-2: #E69DB8; /* pink */
  --color-3: #FFD0C7; /* light pink */
  --color-4: #FFFECE; /* light yellow */
  --color-words-1: #210F37; /* dark purple */
  --color-5: rgb(241, 231, 231);
  --color-6: rgb(230, 157, 184);
  --color-7: rgb(255, 208, 199);
  --color-8: rgb(255, 254, 206);
}
/* Reset CSS */
html {
  font-family: "Libre Baskerville", serif;
  font-size: 62.5%;
  /* 1rem = 10px , ajustado con el font-size 
  */
  background-color: var(--color-1);
}

/* Heder */
header {
  background-color: var(--color-2);
  color: var(--color-words-1);
  padding: 10px 0;
  text-align: center;
}

.logo {
  width: 100px;
}

header h1 {
  font-size: 2rem;
}

header nav ul {
list-style: none;
  margin: 0;
  padding: 0;
  background-color: var(--color-3);
  color: var(--color-words-1);
  display: flex;
  /* justify-content: center; */
  /* se pone el display flex para que se acomoden los elementos */
  /* justify-content: center; para centrar los elementos */
  /* align-items: center; para alinear los elementos */
}


/* links no heredan, entoces cuando se pone en el header, se pone en el a */
header a {
  text-decoration: none;
  color: var(--color-words-1);
  padding: 10px;
  display: inline-block;
}

/* Main  index.html */
main {
  margin: 0 auto;
  max-width: 80rem;
  padding: 0 1rem;
  /* acá se pone el padding para que no quede pegado al borde */
  background-image:   
  linear-gradient(
    var(--color-5) ,
    var(--color-6))
  url('../img/bg.jpg');
  /* se pone la imagen de fondo */
  /* https://developer.mozilla.org/en-US/docs/Web/CSS/background-image */	
  /* PARA configurar y probar la imagen y distintas configuraciones */

  background-size: cover;
  /* se ajusta la imagen al tamaño del contenedor */
  background-size: contain
  /* se ajusta la imagen al tamaño de la imagen */
}
footer {
  background-color: var(--color-4);
  color: var(--color-words-1);
  padding: 10px 0;
  text-align: center;
}

.container {
  border: 2px solid var(--color-words-1);
  position: relative;
  width: 100%;
  height: 20%;
}
.welcome {
  display: inline-block;
  width: 40%;
  height: 50%;
  background-color: var(--color-3);
  padding: 20px;
  margin: 10px;
  border: 2px #210F37 solid ;
  border-radius: 10px;
  text-align: center;
  position: absolute;
  top: 10%;
  left: 40%;
}
.services {
  display:  inline-block;
  width: 30%;
  height: 50%;
  background-color: var(--color-3);
  padding: 20px;
  border: 2px #210F37 solid ;
  margin: 10px;
  border-radius: 10px;
  text-align: center;
  position: static;
  /* top: 10px;
  left: 20px; */
}